.container{
  margin-inline: auto;
  max-width: 144rem;
  // overflow: hidden;
  .wrapper{
    max-width: 88%;
     margin-inline: auto;
    //  position: relative;

    @media(max-width:600px){
      max-width: 92%;
    }
  }
}

#root{
  margin-inline: auto;
}
